# ignore all object files
*.o
*.d
*.dylib
*.dSYM
*.a
*.so

# ignore all configure files
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
makefile

# ignore all octave files
*.m
octave-core

# ignore all programs
src/asgram_rx
src/flexframe_rx
src/flexframe_tx
src/fullduplex_txrx
src/gmskframe_rx
src/gmskframe_tx
src/halfduplex_txrx
src/iqpr_test
src/multichannel_rx
src/multichannel_tx
src/multichannel_txrx
src/narrowband_tx
src/ofdmflexframe_rx
src/ofdmflexframe_tx
src/packet_rx
src/packet_tx
src/ping
src/rssi

# miscellany
*.swp
*.dat
